[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
lolviz = "==1.4.4"
imgui = {extras = ["glfw"], version = "==1.4.1"}
glfw = "==2.5.5"

[dev-packages]

[requires]
python_version = "3.10"
