[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
lolviz = "==1.4.4"
glfw = "*"
imgui = {extras = ["glfw"], ref = "dev/version-2.0", git = "https://github.com/pyimgui/pyimgui.git"}

[dev-packages]

[requires]
python_version = "3.10"
